@import 'Utils/variables';

@import 'Base/typography';
@import 'Base/animations';
@import 'Base/loader';

@import 'Components/buttons';
@import 'Components/icons';

@import 'Layout/header';
@import 'Layout/footer';
@import 'Layout/form';

@import 'Pages/home';
@import 'Pages/menus';

@import 'Utils/responsive';