/*POLICES*/
/*FOND*/
/*COULEURS*/
body {
  margin: 0px;
}

main {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
header h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* LOCALISATION */
form {
  background-color: #EAEAEA;
  box-shadow: 0px -2px 4px lightgray;
  height: 50px;
  display: flex;
  justify-content: center;
}
form #icon-location {
  line-height: 50px;
  margin: 0px 20px;
}
form input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
  outline: none;
}

::placeholder {
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

/*SECTION ANNONCE*/
#announce {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 60px;
}
#announce h2 {
  font-size: 25px;
  margin: 0px 40px;
}
#announce h3 {
  font-size: 18px;
  font-weight: 300;
}

.button__round {
  border-radius: 25px;
  border: none;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.button__round:hover {
  opacity: 0.85;
}
.button__round--default-color {
  background: linear-gradient(#FF79DA, #9356DC);
}
.button__round--explore {
  width: 220px;
}
.button__round--command {
  width: 185px;
}

/*SECTION FONCTIONNEMENT*/
h2 {
  font-size: 25px;
  margin-left: 20px;
}

.explanation {
  display: flex;
  flex-wrap: wrap;
}

.button__functioning {
  display: flex;
  padding-left: 20px;
  height: 72px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 320px;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
}
.button__functioning--icon {
  line-height: 72px;
  position: relative;
  right: 50px;
}
.button__functioning--number {
  position: relative;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  right: 73px;
  height: 24px;
  top: 24px;
  padding: 0px 8px;
  text-align: center;
  font-size: 14px;
}
.button__functioning--number p {
  margin: 0px;
  margin-top: 3px;
}
.button__functioning--text {
  position: relative;
  left: -20px;
  width: 200px;
}
.button__functioning--text h4 {
  margin: 0px;
  line-height: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/*SECTION CHOIX DES RESTAURANTS */
.restaurant-presentation {
  margin-bottom: 60px;
}
.restaurant-presentation ul {
  padding-left: 20px;
}
.restaurant-presentation li {
  list-style: none;
}
.restaurant-presentation a {
  color: unset;
  text-decoration: unset;
}

.restaurant-choice {
  height: 250px;
  width: 95%;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurant-choice img {
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-choice h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0px 0px 12px;
}
.restaurant-choice p {
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0px 0px 12px;
}
.restaurant-choice .label-new {
  position: relative;
  width: 80px;
  height: 30px;
  bottom: 260px;
  left: 70%;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-choice .label-new p {
  margin: 6px 9px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}

.cover {
  object-fit: cover;
}

#icon-heart {
  position: relative;
  display: flex;
  justify-content: end;
  font-size: 24px;
  bottom: 35px;
  right: 25px;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: white;
  padding-bottom: 20px;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  margin-left: 25px;
  display: flex;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-left: 25px;
  padding-top: 25px;
  font-weight: 400;
}
footer p {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-icon {
  width: 28px;
}

/* MENU - LA PALETTE DU GOUT */
#header-arrow {
  position: relative;
  position: absolute;
  left: 22px;
  top: 26px;
  font-size: 20px;
  color: #353535;
}

.menu-image {
  height: 270px;
  width: 100%;
}

.menu-card {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -50px;
}
.menu-card--title {
  margin-top: 0px;
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 400;
  padding: 25px 20px 0px 20px;
}
.menu-card h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 15px 5px 15px;
}
.menu-card .line {
  width: 35px;
  border: 2px solid #99E2D0;
  margin-left: 15px;
}
.menu-card section {
  margin-bottom: 40px;
}

.button-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  width: 92%;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.button-card--text {
  padding: 10px 12px;
  overflow: hidden;
}
.button-card--text h4 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button-card--text p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button-card--price {
  display: flex;
  align-items: end;
  padding-right: 10px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

#icon-heart-2 {
  position: relative;
  display: flex;
  justify-content: end;
  font-size: 24px;
  bottom: 35px;
  right: 25px;
}

.button-position {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
