.icon-heart {
    font-size: 24px;
    width: 30px;
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    -webkit-text-stroke-color:#000000;
    transition: all 200ms linear;
    background-image: $button-main-color;
    &:hover {
        font-weight: 900;
        -webkit-text-stroke-color: #0000;
    }
}



/*Flèche du header*/
#header-arrow {
    font-size: 20px;
    color: $footer-background;
}