/*POLICES*/
$header-font : 'Shrikhand', cursive;
$main-font : 'Roboto', sans-serif;

/*FOND*/
$main-background : #F6F6F6;
$footer-background :#353535;

/*COULEURS*/
$button-main-color : linear-gradient(#FF79DA, #9356DC);
$check-color : #99E2D0;